h1{
    margin-top: 2.5%;
    margin-left: 2.5%;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 900;
    font-size: clamp(1em, 10vw, 3.5em);
    color: white;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
    transition: text-shadow 0.3s ease;
}
h1:hover{
    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #F7C826,
        0 0 50px #F7C826, 
        0 0 60px #F7C826;
}
.container-secundario{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion-izquierda, .seccion-derecha{
    width: 50%;
    margin-top: 1%;
    margin-left: 2.5%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container-izquierdo, .container-derecho{
    width: 45%;
    height: 130px;
    padding: 10px;
    margin: 3px;
    position: relative;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;
}
.container-izquierdo:hover, .container-derecho:hover{
    box-shadow: 0 0 10px 5px #ffffff;
}
h3, p{
    font-size: calc(1vw + 0.15em);
}
.container-izquierdo{
    left: 50%;
}
.container-derecho{
    left:0%;
}
.seccion-izquierda::after, .seccion-derecha::after{
    content: '';
    position: absolute;
    width:3px;
    background-color: white;
    top:2.5%;
    left: 48.2%;
    margin-left: -3px;
    animation: aparecer 1.5s forwards;
}
.texto{
    margin-left: 40%;
    text-align: justify;
}
img{
    position: absolute;
    left: 10px;
    width:28%;
    height: auto;
    border-radius: 10px;
    transition: all 0.5s;
}
img:hover{
    transform: scale(1.1);
}
.texto h3{
    font-weight: bold;
}
.flecha-izquierda,
.flecha-derecha {
    height: 0;
    width: 0;
    position: absolute;
    top: 50%; /* Posición vertical centrada */
    transform: translateY(-50%); /* Centra verticalmente */
    z-index: 1;
    border-top: 10px solid transparent; /* Ajusta el tamaño de la flecha */
    border-bottom: 10px solid transparent; /* Ajusta el tamaño de la flecha */
}

.flecha-izquierda {
    border-right: 10px solid white; /* Color y tamaño de la flecha izquierda */
    left: -3.5%; /* Ajusta la posición izquierda */
}

.flecha-derecha {
    border-left: 10px solid white; /* Color y tamaño de la flecha derecha */
    right: -3.5%; /* Ajusta la posición derecha */
}

@keyframes aparecer {
    0% {
        height: 0;
    }
    100% {
        height: 95%;
    }
}
#home{
    margin: 2px;
    width: 2.5em;
    height: auto;
    position: absolute;
    top: 2.5%;
    left: 94%;
    transition: all 0.3s;
}
#home:hover{
    transform: scale(1.5);
}
@media (max-width: 768px) {
    .container-izquierdo, .container-derecho{
        height: 80px;
    }
    #home {
        width: 2em; 
        left: 90%; 
    }
    .flecha-izquierda,
    .flecha-derecha {
        border-top-width: 8px; 
        border-bottom-width: 8px;
    }
    .seccion-izquierda::after, .seccion-derecha::after{
        content: '';
        position: absolute;
        width:1px;
        background-color: white;
        top:2.5%;
        left: 50%;
        margin-left: -3px;
        animation: aparecer 1.5s forwards;
    }
}