@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: "Sensei";
    src: url(/fuentes/Sensei.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Sensei";
    background-image: url("/recursos/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 20px;
}
.container-principal{
    /* Apariencia del container */
    background-color: rgb(26, 41, 115, 0.55);
    border-radius: 20px;
    margin: auto;
    width: calc(100vw - 40px); 
    height: calc(100vh - 40px);
    padding: 10px;

    /* Estructura del container */
    display: grid;
    gap: 20px;
    grid-template: 
    "header header" calc(20% - 20px)
    "seccion-izquierda seccion-derecha";
}
/* Estilos del header de la página */
.header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
}
.header h1{
    position: relative;
    left: -10%;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 900;
    font-size: clamp(1em, 10vw, 3.5em);
    color: white;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
    transition: text-shadow 0.3s ease;
}
.header h1:hover{
    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #F7C826,
        0 0 50px #F7C826, 
        0 0 60px #F7C826;
}
/* Estilos del enlace a home */
.header a{
    position: relative;
    right: -10%;
}
.header a img{
    width: 2.5em;
    height: auto;
    transition: transform 0.3s;
}
.header a img:hover{
    transform: scale(1.5);
}
/* Estructura y estilos de las secciones */
.seccion-izquierda, .seccion-derecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 3.5%;
}
.seccion-izquierda{
    grid-area: seccion-izquierda;
}
.seccion-derecha{
    grid-area: seccion-derecha;
}
/* Estilos de los containers */
.container-derecho, .container-izquierdo{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 45%;
    height: 25%;
    padding: 10px;
    margin: 3px;
    transition: box-shadow 0.3s ease;
}
.container-derecho:hover, .container-izquierdo:hover{
    box-shadow: 0 0 10px 5px #ffffff;
}
.container-izquierdo{
    left: 50%;
}
.container-derecho{
    left:0%;
}
/* Estilos de los textos dentro de los containers */
.texto{
    width: 80%;
    margin-left: 20px;
    font-size: calc(1vw + 0.2em);
}
/* Estilos de las imagenes dentro de los containers */
img{
    width: 30%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s;
}
img:hover{
    transform: scale(1.5);
}
/* Animación de la linea de tiempo*/
.seccion-izquierda::after, .seccion-derecha::after{
    content: '';
    position: absolute;
    width:2.5px;
    background-color: white;
    top:2.5%;
    left: 48.2%;
    margin-left: -3px;
    animation: aparecer 2s forwards;
}
@keyframes aparecer {
    0% {
        height: 0;
    }
    100% {
        height: 95%;
    }
}
/* Estilos para las flechas de la línea de tiempo */
.flecha-izquierda,
.flecha-derecha {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 1;
    border-top: 10px solid transparent; /* Ajusta el tamaño de la flecha */
    border-bottom: 10px solid transparent; /* Ajusta el tamaño de la flecha */
}
.flecha-izquierda {
    border-right: 10px solid white; /* Color y tamaño de la flecha izquierda */
    left: -2.6%; /* Ajusta la posición izquierda */
}
.flecha-derecha {
    border-left: 10px solid white; /* Color y tamaño de la flecha derecha */
    right: -2.6%; /* Ajusta la posición derecha */
}
/* Estructura para tablet */
@media (max-width: 991px) {
    .container-izquierdo, .container-derecho{
        height: 18%;
    }

    .texto{
        width: 80%;
        margin-left: 20px;
        font-size: calc(0.5vw + 0.4em);
    }

    img{
        width: 35%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.5s;
        z-index: 2;
    }

    .flecha-izquierda,
    .flecha-derecha {
        border-top-width: 8px; 
        border-bottom-width: 8px;
    }

    .seccion-izquierda::after, .seccion-derecha::after{
        content: '';
        position: absolute;
        width:1px;
        background-color: white;
        top:2.5%;
        left: 49%;
        margin-left: -3px;
        animation: aparecer 1.5s forwards;
    }

    .flecha-izquierda {
        left: -3.5%; /* Ajusta la posición izquierda */
    }
    .flecha-derecha {
        right: -3.5%; /* Ajusta la posición derecha */
    }
}
/* Estructura para teléfono */
@media (max-width: 675px) {
    .container-principal{
        height: calc(100vh - 100%);
        display: grid;
        grid-template: 
            "header"
            "seccion-izquierda"
            "seccion-derecha";
    }

    .container-izquierdo, .container-derecho{
        height: 35%;
    }
    .texto{
        width: 90%;
        font-size: calc(0.5vw + 0.4em);
    }
    img{
        width: 45%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.5s;
    }

    .seccion-izquierda::after, .seccion-derecha::after{
        left: 49%;
    }
    
}

/* Estructura pantalla muy pequeña*/
@media (max-width: 330px) {
    body {
        display: none;
    }

    html {
        content: "";
        display: block;
        width: 100vw;
        height: 100vh;
        background-image: url('/recursos/no-disponible.png');
        background-size: cover;
        background-position: center;
    }
}
