@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: "Sensei";
    src: url(/fuentes/Sensei.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Sensei";
    background-image: url("/recursos/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 20px;
}
.container-principal{
    /* Apariencia del container */
    background-color: rgb(26, 41, 115, 0.55);
    border-radius: 20px;
    margin: auto;
    width: calc(100vw - 40px); 
    height: calc(100vh - 40px);
    padding: 10px;

    /* Estructura del container */
    display: grid;
    gap: 20px;
    grid-template: 
    "header" calc(20% - 20px)
    "main" 80%;
}
/* Estilos del header de la página */
.header{
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;

}
/* Estilos del logo en header */
.logo{
    cursor: pointer;
    margin-right: auto;
}
.logo img{
    height: clamp(2.5em, 8vw, 4.5em);
    width: auto;
    transform: rotate(-90deg);
    transition: transform 1s;
}
.logo img:hover{
    transform: rotate(270deg);
}
/* Estilos de la barra de navegación */
.navegador ul{
    list-style: none;
}
.navegador ul li{
    display: inline-block;
    padding: 0 20px;
    transition: transform 0.3s;
}
.navegador ul li:hover{
    transform: scale(1.1);
}
.navegador ul li a{
    font-size: clamp(0.5em, 2vw, 1em);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border: solid white;
    border-radius: 50px;
    cursor: url("/recursos/cursor.png"), auto;
    transition: background-color 0.3s;
}
.navegador ul li a:hover{
    color: #1A2973;
    background-color: white;
}
/* Estructura del main */
.main{
    grid-area: main;
    display: grid;
    gap: 20px;
    grid-template: 
    "izquierda derecha" 100%/
    55% auto;
}
/* Estructura del las secciones dentro del main */
.seccion-izquierda{
    grid-area: izquierda;
    align-items: center;
}
.seccion-derecha{
    grid-area: derecha;
    align-items: start;
}
.seccion-derecha, .seccion-izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 5%;
}
/* Estilos en el título */
.titulo h1{
    font-family: "Libre Franklin", sans-serif;
    margin-top: 0;
    font-weight: 900;
    font-size: clamp(2em, 10vw, 6em);
    text-align: center;
}
.titulo .word-s{
    color: #F7C826;
}
.titulo .word-m{
    color: white; 
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
}
.titulo .word-m:hover{
    text-shadow: 
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #F7C826,
        0 0 50px #F7C826, 
        0 0 60px #F7C826;
}
/* Estilos en la descripción */
.descripcion{
    width: 95%;
    text-align: center;
}
.descripcion p{
    font-size: calc(0.8vw + 0.5em);
    color: white;
    margin-bottom: 30px;
}
/* Estilos enlace a otra página */
.enlace-historia{
    font-size: calc(0.8vw + 0.5em);
    border: solid #1A2973;
    border-radius: 50px;
    background-color: #1A2973;
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: url("/recursos/cursor.png"), auto;
    transition: box-shadow 0.3s;
}
.enlace-historia:hover{
    box-shadow: 
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #1A2973, 
    0 0 50px #1A2973, 
    0 0 60px #1A2973;
}
/* Estilos en la imagen */
.imagen{
    width: 67%;
}
.imagen img{
    width: 100%;
    height: auto;
    animation: entrar 1.5s ease-out forwards, flotar 3s ease-in-out infinite 1.5s;
}
@keyframes entrar {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes flotar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.redes{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 4%;
    bottom: 50%;
}
.redes img{
    width: 2rem;
    height: auto;
    margin-bottom: 5px;
    transition: all 0.3s;
}
.redes img:hover{
    transform: scale(1.5);
}
/* Estructura para tablet */
@media (max-width: 768px) {
    .navegador ul li a{
        padding: 10px 5px;
    }
    .redes{
        right: 5.5%;
    }
    .redes img{
        width: 1.8rem;
        height: auto;
    }
}
/* Estructura para teléfono */
@media (max-width: 576px) {
    body{
        display: none;
    }
    html {
        content: "";
        display: block;
        width: 100vw;
        height: 100vh;
        background-image: url('/recursos/no-disponible.png');
        background-size: cover;
        background-position: center;
    }
}
