@font-face{
    font-family: "Petit";
    src: url(/fuentes/Petit-cochon.ttf);
}
h1{
    margin-top: 2.5%;
    margin-left: 2.5%;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 900;
    font-size: clamp(1em, 10vw, 3.5em);
    color: white;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
    transition: text-shadow 0.3s ease;
}
h1:hover{
    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #F7C826,
        0 0 50px #F7C826, 
        0 0 60px #F7C826;
}
.container-secundario{
    height: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.tarjetas{
    width: 175px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    position: relative;
	overflow: hidden;
    border-radius: 10px;
}
.tarjetas img{
    width: 100%;
    border-radius: 10px;
    display: block;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.9);
    transition: transform 0.5s;
}
.overlay{
    width: 100%;
	height: 0;
	background: linear-gradient(transparent,white 58%);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	transition: height 0.5s;
}
.overlay h3 {
    font-family: "Petit";
    color: #F7C826;
	font-weight: 500;
	margin-bottom: 2.5px;
	margin-top: 80%;
	font-size: calc(1vw + 0.5em);
	letter-spacing: 2px;
}
.overlay a {
    color: white;
	margin-top: 2.5px;
    margin-bottom: 25px;
	text-decoration: none;
	font-size: calc(0.5vw + 0.5em);
	background: #1A2973;
	border-radius: 50px;
	text-align: center;
	padding: 5px 15px;
}
.tarjetas:hover img{
    transform: scale(1.1);
}
.tarjetas:hover .overlay{
    height: 100%;
}
#home{
    margin: 2px;
    width: 2.5em;
    height: auto;
    position: absolute;
    top: 2.5%;
    left: 94%;
    transition: all 0.3s;
}
#home:hover{
    transform: scale(1.5);
}
@media (max-width: 768px) {
    .tarjetas{
        width: 115px;
    }
    #home {
        width: 2em; 
        left: 90%; 
    }
}



