@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: "Sensei";
    src: url(/fuentes/Sensei.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Sensei";
    background-image: url("/recursos/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 20px;
}
.container-principal{
    /* Apariencia del container */
    background-color: rgb(26, 41, 115, 0.55);
    border-radius: 20px;
    margin: auto;
    width: calc(100vw - 40px); 
    height: 100%; 
    padding: 10px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
}
.header h1{
    position: relative;
    left: -10%;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 900;
    font-size: clamp(1em, 10vw, 3.5em);
    color: white;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
    transition: text-shadow 0.3s ease;
}
.header h1:hover{
    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #F7C826,
        0 0 50px #F7C826, 
        0 0 60px #F7C826;
}
/* Estilos del enlace a home */
.header a{
    position: relative;
    right: -10%;
}
.header a img{
    width: 2.5em;
    height: auto;
    transition: transform 0.3s;
}
.header a img:hover{
    transform: scale(1.5);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: url("/recursos/cursor.png"), auto;
    border: none;
    border-radius: 5px;
}
#mostrar-carrito-boton {
    background-color: #F7C826;
    color: white;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    display: flex;
    align-items: center;
    z-index: 1000; 
    cursor: pointer; 
    font-family: "Sensei";
    border-radius: 15px;
}

button#pagar-btn {
    background-color: #F7C826;
    font-family: "Sensei";
    color: white;
    margin-top: 10px;
}

main {
    padding: 20px;
}

#filtros {
    margin-bottom: 20px;
}

#filtros h2{
    font-size: 20px;
    color: white;
}

#filtros select {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: "Sensei";
    background-color: rgb(26, 41, 115, 0.60); 
    color: white;
    border:solid white;
    border-radius: 5px;
    cursor: url("/recursos/cursor.png"), auto;
}

#producto-lista {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.producto-tarjeta {
    border: solid white;
    align-self: center;
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color:  rgb(26, 41, 115, 0.60); 
    position: relative;
    color: white;
}

.producto-tarjeta img {
    width: 40%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.producto-tarjeta h3 {
    margin: 10px 0;
}

.producto-tarjeta p{
    margin-top: 5px;
}

.producto-tarjeta input {
    width: 50px;
    height: 30px;
    text-align: center; 
    background-color: white;
    font-family: "Sensei";
    border: solid white;
    border-radius: 15px;

}

.producto-tarjeta button{
    font-family: "Sensei";
    margin-top: 10px;
    border: solid white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    transition: background-color 0.3s;
}
.producto-tarjeta button:hover {
    background-color: white; 
    color: rgb(26, 41, 115);
        
}
.producto-tarjeta .cantidad-disponible {
    color: #555;
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}

.modal-contenido {
    background-color:  white; 
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
    position: relative;
}

.modal-contenido p{
    margin: 10px;
}

#carrito-modal h3{
    margin-top: 10px; 
}

.cerrar {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    text-decoration: none;
    cursor: pointer;
}

.carrito-item button {
    background-color: red;
    font-family: "Sensei"; 
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    #producto-lista {
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 480px) {
    button {
        font-size: 14px;
    }
}

/* Estructura para pantalla muy pequeña */
@media (max-width: 330px) {
    body {
        display: none;
    }

    html {
        content: "";
        display: block;
        width: 100vw;
        height: 100vh;
        background-image: url('/recursos/no-disponible.png');
        background-size: cover;
        background-position: center;
    }
}
